# ===============================================
#       Configuração da API Backend
# ===============================================
# Ambientes disponíveis:
# - Desenvolvimento local: http://192.168.0.XXX:8000 (substitua XXX pelo IP da sua máquina)
# - Desenvolvimento remoto: https://dev.integradigital.com.br
# - Produção: https://integradigital.com.br

URL_BASE_API="https://dev.integradigital.com.br" # OU (para ambiente local) URL_BASE_API="http://192.168.0.143:8000"

# ===============================================
#       Configuração do WebView
# ===============================================
# Porta usada para acessar os serviços via WebView
# Deve ser a mesma porta do backend
WEBVIEW_PORT=8000

# ===============================================
#       Ambiente Ativo
# ===============================================
# Valores: development | staging | production
ENVIRONMENT=development
